{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-primary mb-4">Vote Tally</h2>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Candidate ID</th>
                    <th>Name</th>
                    <th>Party</th>
                    <th>Votes</th>
                </tr>
            </thead>
            <tbody>
                {% for candidate_id, (name, party, votes) in vote_tally.items() %}
                <tr>
                    <td>{{ candidate_id }}</td>
                    <td>{{ name }}</td>
                    <td>{{ party }}</td>
                    <td>{{ votes }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
